@model IdentitySample.Models.IndexViewModel
@{
    ViewBag.Title = "Configura tu cuenta";
}

<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-8">
        <p>
            @(Model.HasPassword ? Html.ActionLink("Cambiar contraseña", "ChangePassword") 
                : Html.ActionLink("Pick a password", "SetPassword"))
        </p>
        <p>
            Numero de teléfono: @(Model.PhoneNumber ?? "Numero de telefono") [
            @if (Model.PhoneNumber != null)
            {
                @Html.ActionLink("Cambiar numero de telefono", "AddPhoneNumber")
                @: &nbsp;|&nbsp;
                @Html.ActionLink("Eliminar numero de telefono", "RemovePhoneNumber")
            }
            else
            {
                @Html.ActionLink("Add", "AddPhoneNumber")
            }
            ]
        </p>
        <p>
            Login externos: @Model.Logins.Count
            @Html.ActionLink("[Co]", "ManageLogins")
        </p>
        @if (Model.TwoFactor)
        {
            using (Html.BeginForm("DisableTFA", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                 @Html.AntiForgeryToken()
                 <p>
                     Comprobación de 2 factores está habilitada:
                     <input type="submit" value="Deshabilitar" class="btn btn-default"/>
                 </p>
            }
        }
        else
        {
            using (Html.BeginForm("EnableTFA", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
				 <p>
				 	Comprobación de 2 factores está deshabilitada:
				 	<input type="submit" value="Habilitar" class="btn btn-default" />
				 </p>
            }
        }
        @if (Model.BrowserRemembered)
        {
            using (Html.BeginForm("ForgetBrowser", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
				 <p>
				 	El navegador es recordado por comprobacion de 2 factores:
				 	<input type="submit" value="Olvidar navegador" class="btn btn-default" />
				 </p>
            }
        }
        else
        {
            using (Html.BeginForm("RememberBrowser", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
				 <p>
				 	El navegador no es recordado por comprobacion de 2 factores:
				 	<input type="submit" value="Recordar navegador" class="btn btn-default" />
				 </p>
            }
        }
    </div>
</div>
