@model DondeLa_tuty.Models.Item
@{
    ViewBag.Title = "DeleteProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
	<h3>¿Estás seguro de que quieres eliminar este producto?</h3>
	<div>
		<hr />
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.Category.Nombre)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Category.Nombre)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Producer.Nombre)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Producer.Nombre)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Titulo)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Titulo)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Precio)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Precio)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.imagenProducto)
			</dt>

			<dd>
				<img width="50" height="50" src="@Url.Action("convertirImagen", "Admin", new {ItemId = Model.ItemId})" />
			</dd>

		</dl>

		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()

			<div class="form-actions no-color">
				<input type="submit" value="Eliminar" class="btn btn-default" /> |
				@Html.ActionLink("Volver", "Product")
			</div>
		}
	</div>
	</div>